<!DOCTYPE html>
<html>
<head>
<title>Contacts</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
</style>
</head>
<body>
  <table class="table">
    <tr><th colspan=2>Important Contacts</th></tr>
    <tr><td>Hostel Convener</td><td><a href="tel:9486001180">9486001180</td></tr>
    <tr><td>EMC</td><td><a href="tel:9489066202">9489066202</a></td></tr>
    <tr><td>Water AE</td><td><a href="tel:9489066225">9489066225</a></td></tr>
    <tr><td>Transport Section</td><td><a href="tel:9486001151">9486001151/52</a></td></tr>
    <tr><td>Academic Office</td><td><a href="tel:04312503019">0431-250-3019</a></td></tr>
    <tr><td>Anti Ragging</td><td><a href="tel:9486001184">9486001184</a></td></tr>
  </table>
</body>
</html>
