<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="page-header">
	NITT App
    <a href="/logout" style="float: right; font-weight: bold; margin-top: -5px; color: white; padding-right: 5px"><i class="material-icons">power_settings_new</i></a>
  </div>

  <div id="my_iframe_container">
      <iframe src="/navboard" id="my_iframe"></iframe>
  </div>
</div>
	<!-- Material form login -->
                      
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.js"></script>

    <script type="text/javascript">
        var reverse_ports_map = {
            "/events": 2000,
            "/complaints": 3000, 
            "/mess": 4000,
            "/notifications": 5000,
        }

        var currentUrl = "//" + location.host + "/navboard";
        function goto(url, title) {
            var pathname = url.replace(/http:\/\/[^\/]+\//, "/");
            if (pathname == "/navboard") pathname = "/";
            history.pushState({
                prevSrc: currentUrl,
              },
              title + " | NITT App",
              pathname
           );
           currentUrl = url;
        }

        window.onmessage = function(msg) {
            console.log(msg.data, arguments);
            try {
              var iframeLoc = msg.data.loaded;
              goto(iframeLoc, iframeLoc);
            } catch(e) {
              alert("error!"); console.log(e);
            }
        };

        window.onpopstate = function(prevState) {
            alert("hi");
            goto(prevState.prevSrc, "NITT App");
        };
    </script>
  </body>
</html>
