<!DOCTYPE html>
<html>
  <head>
    <title>NITT App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="page-header">
	<a style="float: left; color: white; margin-top: -4px" href="/navboard" target="my_iframe"><i class="material-icons">home</i></a>
        <i id="loader" class="fa fa-circle-o-notch fa-spin"></i>
	<span class='title'>NITT App</span>
    <a href="/logout" style="float: right; font-weight: bold; margin-top: -5px; color: white; padding-right: 5px"><i class="material-icons">power_settings_new</i></a>
  </div>

  <div id="my_iframe_container">
      <iframe src="/navboard" id="my_iframe" name="my_iframe"></iframe>
  </div>
</div>
	<!-- Material form login -->
                      
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.js"></script>

    <script type="text/javascript">
        var reverse_ports_map = {
            2005: "/events",
            3000: "/complaints",
            4000: "/mess",
            5000: "/notifications",
        }

        var currentUrl = "//" + location.host + "/navboard";
        function goto(url, title) {
            var pathname = url.replace(/http:\/\/[^\/]+\//, "/");
            if (pathname == "/navboard") pathname = "/";
            history.pushState({
                prevSrc: currentUrl,
                prevTitle: document.title,
              },
              title,
              pathname
           );
           document.title = title;
           currentUrl = url;
           if (url.indexOf(":2005") != -1) $(".page-header .title").text("NITT App | Events"); 
           else if (url.indexOf(":3000") != -1) $(".page-header .title").text("NITT App | Complaints"); 
           else if (url.indexOf(":4000") != -1) $(".page-header .title").text("NITT App | Mess"); 
           else if (url.indexOf(":5000") != -1) $(".page-header .title").text("NITT App | Notifications"); 
           else $(".page-header .title").text("NITT App");

           $("#loader").hide();
        }

        window.onmessage = function(msg) {
            console.log(msg.data, arguments);
            try {
              if (msg.data.leaving) { $("#loader").show(); return; }
              var iframeLoc = msg.data.loaded;
              var title = msg.data.title;
              goto(iframeLoc, title);
            } catch(e) {
              console.error(e);
            }
        };

        window.onpopstate = function(event) {
            var prevState = event.state;
            goto(prevState.prevSrc, prevState.prevTitle);
            $("#my_iframe").attr("src", prevState.prevSrc);
            $("#loader").show();
        };

    </script>
  </body>
</html>
