<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container" id="main_container_navbar">
  <div class="row justify-content-md-center" id="main_card_container" style="margin-top: 50px">
    <!--Card-->
    <a href="//localhost:2000/" class="card col-lg-3 col-md-4 col-sm-5">
        <div class="view overlay">
			<i class="material-icons">event</i>
            <h4 class="card-title">Events Calender</h4>
        </div>
    </a>

    <a href="//localhost:3000" class="card col-lg-3 col-md-4 col-sm-5">
        <div class="view overlay">
			<i class="material-icons">assignment_late</i>
            <h4 class="card-title">Complaints Portal</h4>
        </div>
    </a>
    <a href="//localhost:4000" class="card col-lg-3 col-md-4 col-sm-5">
        <div class="view overlay">
			<i class="material-icons">local_dining</i>
            <h4 class="card-title">Mess</h4>
        </div>
    </a>
    <a href="//localhost:5000" class="card col-lg-3 col-md-4 col-sm-5">
        <div class="view overlay">
			<i class="material-icons">info</i>
            <h4 class="card-title">Notifications</h4>
        </div>
    </a>
</div>
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.js"></script>
  </body>
</html>
